<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  </head>
  <body>
    <h1>Thats me.</h1>
    <p>
      <table border="1">
  <tr>
    <th><%= image_tag("auge.png", :alt => "Work App", :class => "round") %></th>
    
  </tr>
  <tr>
    <th>Watching You</th>
    
  </tr>
</table>
      
      Made this in my freetime
    </p>
  </body>
</html>