<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  </head>
  <body>
    <h1>Thats us.</h1>
    <p>
      <table border="1">
  <tr>
    <th><%= image_tag("auge.png", :alt => "Work App", :class => "round") %></th>
    <th><%= image_tag("auge.png", :alt => "Work App", :class => "round") %></th>
    
  </tr>
  <tr>
    <th>Cookie</th>
    <th>Honeycake</th>
    
  </tr>
</table>
      
      Made this in 5 min freetime
    </p>
  </body>
</html>