<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  </head>
  <body>
    <h1>Das sind wir</h1>
    <p>
      <table border="1">
  <tr>
    <th><%= image_tag("auge.png", :alt => "Work App", :class => "round") %></th>
    <th><%= image_tag("auge.png", :alt => "Work App", :class => "round") %></th>
    
  </tr>
  <tr>
    <th>Keks</th>
    <th>Butterblume</th>
    
  </tr>
</table>
      
      Entstanden ist diese Seite in 5 min Langerweile...
    </p>
  </body>
</html>