<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  </head>
  <body>
    <h1>Kontakt</h1>
    <p>
      Bei Fragen, Problemen oder Anregungen wenden sie sich bitte an die folgende Mailadresse:
      <p>
      <a href="http://www.xxx@yyy.com">www.xxx@yyy.com</a>
    </p>
  </body>
</html>